flows.json
[{"type":"tab","id":"cb6121bd.349ee","label":"Sheet 1"},{"id":"11ad4194.ee52be","type":"page","z":"cb6121bd.349ee","background":"lightyellow","x":1046.8958587646484,"y":172.88888549804688,"wires":[["1e4a38bc.e1b5c7","44a92a1a.bb56d4"]]},{"id":"1e4a38bc.e1b5c7","type":"section","z":"cb6121bd.349ee","x":1394.8959197998047,"y":375.8888854980469,"wires":[["c259c8b8.3da638","2ed5b248.d12a4e","2a0643ed.d5f9bc"]]},{"id":"44a92a1a.bb56d4","type":"section","z":"cb6121bd.349ee","x":956.8957977294922,"y":358.8888854980469,"wires":[["914d31e3.6eb2d","b19e28bd.4e61d8","556f9cdb.aa9064"]]},{"id":"914d31e3.6eb2d","type":"input","z":"cb6121bd.349ee","name":"","x":749.8957977294922,"y":511.888916015625,"wires":[["3448e27f.cbb71e"]]},{"id":"b19e28bd.4e61d8","type":"button","z":"cb6121bd.349ee","name":"Mikael","x":1214.8959197998047,"y":511.8888854980469,"wires":[[],["d6d24ce5.292db"]]},{"id":"d6d24ce5.292db","type":"event","z":"cb6121bd.349ee","name":"Event","event":"click","x":1053.895980834961,"y":676.8889465332031,"wires":[["ff7d73c8.00829"]]},{"id":"c259c8b8.3da638","type":"template","z":"cb6121bd.349ee","name":"Event handler output","field":"payload","format":"handlebars","template":"Found Bluetooth device <b>{{payload.name}}</b> !","x":1468.8959197998047,"y":679.8889465332031,"wires":[[]]},{"id":"556f9cdb.aa9064","type":"template","z":"cb6121bd.349ee","name":"Input field output","field":"payload","format":"handlebars","template":"This is the payload: {{payload.srcElement.value}} !","x":987.8958282470703,"y":516.8888854980469,"wires":[[]]},{"id":"3448e27f.cbb71e","type":"event","z":"cb6121bd.349ee","name":"Event","event":"change","x":779.8958282470703,"y":627.8888854980469,"wires":[["556f9cdb.aa9064"]]},{"id":"ff7d73c8.00829","type":"bluetooth","z":"cb6121bd.349ee","name":"bluetooth","x":1255.8958282470703,"y":678.8888854980469,"wires":[["c259c8b8.3da638"]]},{"id":"2a0643ed.d5f9bc","type":"image","z":"cb6121bd.349ee","image":"ui/images/logo.svg","x":1494.5,"y":200.75,"wires":[[]]},{"id":"2ed5b248.d12a4e","type":"text","z":"cb6121bd.349ee","text":"<h2>Some text foo</h2>","x":1556,"y":296,"wires":[[]]}]